container_commands:
  01_change_permissions:
    command: "chown -R webapp:webapp /var/app/current && chmod -R 755 /var/app/current"
  02_build:
    command: "sudo -u webapp bash -c 'cd /var/app/current && npm install && npm run build'"
    leader_only: true
  03_start:
    command: "sudo -u webapp bash -c 'cd /var/app/current && npm start'"
